{% block title %}Product List{% endblock %}
{% extends "base.html" %}
{% block body %}

    <section class="item">
        <div class="container">

            <form action="/product-search" method="POST" class="search-form my-2 my-lg-0" id="search-box">

                <input type="text" name="search_word" class="search_box" placeholder="Search product name..."
                       id="search-box"
                       class='search_box'>
                <button type="submit" for="search-box" class="fas fa-search"></button>
            </form>
        </div>
        <!-- Button trigger modal -->
        <div class="container-add" style="text-align: right;white-space: nowrap;">
        <span>Can't find?
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#item-modal"
                data-source="New Product">Create Your Own Product!</button>
        </span>

        </div>


        <!-- Create New Product Button trigger modal -->
        <div class="modal fade" id="item-modal" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Label">Create New Product</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{{ url_for('product_create') }}" method="POST" id="form-new-prod">
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Product Name</span>
                                <input type="text" class="form-control" name="prod_name" placeholder="chocolate">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">PLU code</span>
                                <input type="text" class="form-control" name="plu_code" placeholder="1423">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Lifespan</span>
                                <input type="text" class="form-control" name="lifespan" placeholder="60">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">calories</span>
                                <input type="text" class="form-control" name="cal" placeholder="350">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button id="submit-new-prod" type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="container table-responsive">
            <!-- Alert Message -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible" role="alert">
                            {{ message }}
                            <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">X</button>-->
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}


            <table class="table table-striped">
                {% if product_lst %}
                <thead>
                <tr>
                    <th class="name" style="width:31%">Product Name</th>
                    <th class="plu_code" style="width:15%">PLU code</th>
                    <th class="lifespan" style="width:15%">lifespan (days)</th>
                    <th class="cal" style="width:15%">Calories</th>
                    <th class="add" style="width:8%"> Add</th>
                    <th class="buy" style="width:8%"> Buy</th>
                    <th class="update" style="width:8%"> Edit</th>
                    <!--Since FK constraint, deletion from user is not allowed
                    <th class="update" style="width:6%"> Remove</th>
                    -->
                </tr>
                </thead>

                <tbody>
                <!--<tr>
                    <td>Apple</td>
                    <td>2010</td>
                    <td>21</td>
                    <td>50</td>

                    <td>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#item-modal"><i class="fa fa-plus"></i></button>
                    </td>
                    <td>
                        <button type="button" data-source="27"><i class="fa fa-shopping-cart"></i></button>
                    </td>
                    <td>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#item-modal"><i class="fa fa-pen"></i></button>
                    </td>
                    Since FK constraint, deletion from user is not allowed
                    class="btn btn-warning add"
                    class="btn btn-info buy"
                    class="btn btn-secondary edit"
                    <td>
                        <button type="button" class="btn btn-danger remove" data-source="27"
                                onclick="return confirm('Are You Sure To Delete ?')"><i class="fa fa-trash"
                                                                                        aria-hidden="true"></i>
                        </button>
                    </td>

                </tr>
                -->
                {% for item in product_lst %}
                <tr>
                    <td>{{ item.prod_name }}</td>
                    <td>{{ item.plu_code }}</td>
                    <td>{{ item.lifespan }}</td>
                    <td>{{ item.cal }}</td>
                    <td>
                        <button type="button" class="btn btn-warning add" data-bs-toggle="modal"
                                data-bs-target="#modal-to-inventory{{ item.prod_id }}"
                                data-source="{{ item.prod_id }}"><i class="fa fa-plus"></i>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-info buy" data-bs-toggle="modal"
                                data-bs-target="#modal-to-shopping{{ item.prod_id }}" data-source="{{ item.prod_id }}">
                            <i
                                    class="fa fa-shopping-cart"></i></button>
                    </td>
                    <td>

                        <button type="button" class="btn btn-secondary edit" data-bs-toggle="modal"
                                data-bs-target="#modal-edit-product{{ item.prod_id }}"><i
                                class="fa fa-pen"></i></button>
                    </td>
                    <!--Since FK constraint, deletion from user is not allowed
                        <td>

                            <a href="/product-delete/{{ item.prod_id }}" type="button" class="btn btn-danger btn-delete"
                               id="{{ item.prod_id }}" onclick="return confirm('Are You Sure To Delete ?')"><i
                                    class="fa fa-trash" aria-hidden="true"></i></a>
                        </td>
                        -->
                </tr>
                <!-- Modal Edit Product-->
                <div id="modal-edit-product{{ item.prod_id }}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Update Product</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <form action="{{ url_for('product_update') }}" method="POST" id="form-edit-prod">
                                <div class="modal-body">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Product Name</span>
                                        <input type="hidden" name="prod_id" value="{{ item.prod_id }}">
                                        <input type="text" class="form-control" name="prod_name_edit"
                                               value="{{ item.prod_name }}">
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text"><label>PLU code</label></span>
                                        <input type="text" class="form-control" name="plu_code_edit"
                                               value="{{ item.plu_code }}">
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text"><label>Lifespan</label></span>
                                        <input type="text" class="form-control" name="lifespan_edit"
                                               value="{{ item.lifespan }}">
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text"><label>Calories</label></span>
                                        <input type="text" class="form-control" name="cal_edit"
                                               value="{{ item.cal }}" placeholder="350">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-secondary "
                                                data-bs-dismiss="modal">
                                            Close
                                        </button>
                                        <button id="submit-edit-prod" type="submit" class="btn btn-primary">Save
                                            changes
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Modal Add Product to Inventory List-->
                <div id="modal-to-inventory{{ item.prod_id }}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Add to Your Home Storage</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <form action="{{ url_for('product_to_inventory') }}" method="POST" id="prod-to-inventory">
                                <div class="modal-body">
                                    <div>
                                        <input type="hidden" name="prod_id" value="{{ item.prod_id }}">
                                        <p class="fs-5"> {{ item.prod_name }}</p>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-sm-2.5"><label>Storage Space</label></span>
                                        <select class="form-select">
                                            <option selected>Choose a space..</option>
                                            <option name="space" value="fridge">Fridge</option>
                                            <option name="space" value="freezer">Freezer</option>
                                            <option name="space" value="pantry">Pantry</option>
                                        </select>
                                        <!-- Button version of selecting a space-->
                                        <!--
                                        <span class="input-group-text" id="addon-wrapping">Where you put?</span>
                                        <input class="btn-check" type="radio" value="fridge" name="space" id="fridge">
                                        <label class="btn btn-outline-success" for="fridge">Fridge</label>
                                        <input class="btn-check" type="radio" value="freezer" name="space" id="freezer">
                                        <label class="btn btn-outline-success" for="freezer">Freezer</label>
                                        <input class="btn-check" type="radio" value="pantry" name="space" id="pantry">
                                        <label class="btn btn-outline-success" for="pantry">Pantry</label>
                                        -->
                                    </div>
                                    <div class="input-group mb-3">
                                                <span class="input-group-text col-sm-2.5"><label
                                                        for="date">Expiration Date</label></span>
                                        <input class="form-control" id="date" name="date" placeholder="YYYY/MM/DD"
                                               type="text"/>
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar-check-o"></i>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-sm-2.5"><label>Amount</label></span>
                                        <input type="text" class="form-control col-sm-2.5" name="amount"
                                               placeholder="3">
                                        <span class="input-group-addon">
                                                    <label>
                                                    <select class="form-select selectpicker" data-width="auto">
                                                        <option name="unit" value="unit">unit</option>
                                                        <option name="unit" value="Lb">Lb</option>
                                                        <option name="unit" value="kg">kg</option>
                                                        <option name="unit" value="oz">oz</option>
                                                        <option name="unit" value="pack" selected>pack</option>
                                                        <option name="unit" value="bag">bag</option>
                                                        <option name="unit" value="bunch">bunch</option>
                                                    </select>
{#                                                        <input type="hidden" name="unit" value="{{ item.prod_id }}">#}
                                                    </label>
                                                </span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                        </button>
                                        <button id="submit-add-toinv" type="submit" class="btn btn-primary">Add</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Modal Add Product to Shopping List-->
                <div id="modal-to-shopping{{ item.prod_id }}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Add to Your Shopping List</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <form action="{{ url_for('product_to_shopping') }}" method="POST" id="product-to-buy">
                                <div class="modal-body">
                                    <div>
                                        <input type="hidden" name="prod_id" value="{{ item.prod_id }}">
                                        <p class="fs-5"> {{ item.prod_name }}</p>
                                    </div>
                                    <div class="input-group mb-3">
                                        <!--
                                        <span class="input-group-text col-sm-2.5"><label>Storage Space</label></span>
                                        <select class="form-select">
                                            <option selected>Choose a space..</option>
                                            <option name="space" value="fridge">Fridge</option>
                                            <option name="space" value="freezer">Freezer</option>
                                            <option name="space" value="pantry">Pantry</option>
                                        </select>
                                        -->
                                        <!-- Button version of selecting a space-->

                                        <div class="input-group-text" id="addon-wrapping">Choose a List</div>
                                            {% for lst in shopping_lst %}
                                            <div>
                                                <input class="btn-check" type="radio" name="list" id="shop">
                                                <label class="btn btn-outline-success"
                                                       for="shop">{{ lst.list_name }}</label>
                                            </div>
                                            {% endfor %}
                                            <!--
                                            <input class="btn-check" type="radio" value="freezer" name="list" id="freezer">
                                            <label class="btn btn-outline-success" for="freezer">Freezer</label>
                                            <input class="btn-check" type="radio" value="pantry" name="list" id="pantry">
                                            <label class="btn btn-outline-success" for="pantry">Pantry</label>
                                            -->

                                            </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="form-group">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close
                                                    </button>
                                                    <button id="submit-add-toinv" type="submit" class="btn btn-primary">
                                                        Add
                                                    </button>
                                                </div>
                                            </div>
                                            </form>
                                            </div>
                                            </div>
                                            </div>


                    {% endfor %}
                </tbody>
           {% endif %}
            </table>
        </div>

    </section>


{% endblock %}
