{% block title %}Grocery To Buy{% endblock %}
{% extends "base.html" %}
{% block body %}

    <section class="home">
        <div class="container" style="text-align: right">
            <button type="button" class="btn new"><a href="{{ url_for('product_list') }}">Add item</a></button>
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modal-create-shoplist">Create List</button>
        </div>
        <div class="modal fade" id="modal-create-shoplist" aria-labelledby="Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="Label">Create New List</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{{ url_for('buy_list_create') }}" method="POST" id="form-create-list">
                        <div class="modal-body">
                            <input type="text" class="form-control" name="list_name_create" placeholder="New List Name">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button id="submit-create-list" type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% for key, shop_list in shopping_dict.items() %}
            <div class="container">
            <h3 class="title">  <span>{{ shop_list.list_name }}</span>
                    <button type="button" class="btn" style="color:#666;font-size:16px;"
                         data-bs-toggle="modal" data-bs-target="#modal-edit-shoplist{{ key }}">Edit</button>
                    <a align="right" href="/buy/list-delete/{{ key }}" type="button" id="{{ key }}" class="btn" style="color:#666;font-size:16px;"
                            onclick="return confirm('Are You Sure To Delete ?')">Delete</a>

            </h3>
            </div>

            <div class="modal fade" id="modal-edit-shoplist{{ key }}" aria-labelledby="Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="Label">{{ shop_list.list_name }}</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{{ url_for('buy_list_update') }}" method="POST" id="form-edit-list">
                        <div class="modal-body">
                            <h5 >Edit List Name</h5>
                            <input type="hidden" name="shopping_id_edit" value="{{ key }}">
                            <input type="text" class="form-control" name="list_name_edit" value="{{ shop_list.list_name }}">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button id="submit-edit-list" type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="name" style="width:30%">Item</th>
                    <th class="amount" colspan="2" style="width:16%">Amount</th>
                    <th class="store" style="width:12%">Store Recommended</th>
                    <th class=" avgprice" style="width:12%">Cheapest Price</th>
                    <th class="update" style="width:10%">Edit</th>
                    <th class="update" style="width:10%">Remove</th>
                </tr>
                </thead>

                <tbody>
                {% for item in shop_list.shop_items %}
                    {% if item %}
                    <tr>
                        <td>{{ item.prod_name }}</td>
                        <td>{{ item.amount }}</td>
                        <td>{{ item.unit }}</td>
                        <td>{{ item.store_recomnd }}</td>
                        <td>{{ item.avg_price }}</td>

                        <td>
                            <button type="button" class="btn btn-secondary edit" data-bs-toggle="modal"
                                    data-bs-target="#modal-edit-shop-{{ item.shopping_id }}-{{ item.prod_id }}"><i
                                    class="fa fa-pen"></i></button>
                        </td>
                        <td><a href="/buy/item-delete/{{ item.shopping_id }}-{{ item.prod_id }}" type="button"
                               class="btn btn-danger btn-delete"
                               id="{{ item.shopping_id }}-{{ item.prod_id }}" onclick="return confirm('Are You Sure To Delete ?')"><i
                                class="fa fa-trash"></i></a>
                        </td>
                    </tr>


                    <div id="modal-edit-shop-{{ item.shopping_id }}-{{ item.prod_id }}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Edit item: {{  item.list_name  }} </h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <form action="{{ url_for('buy_item_update') }}" method="POST" id="form-edit-buy">
                                    <div class="modal-body">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Item Name</span>
                                            <input type="hidden" name="shopping_id_edit" value="{{ item.shopping_id }}">
                                            <input type="hidden" name="prod_id_edit" value="{{ item.prod_id }}">
                                            <input type="text" class="form-control" name="prod_name_edit"
                                                   value="{{ item.prod_name }}">
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text"><label>Amount</label></span>
                                            <input type="text" class="form-control" name="amount_edit"
                                                   value="{{ item.amount }}">
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text"><label>Unint</label></span>
                                            <input type="text" class="form-control" name="unit_edit"
                                                   value="{{ item.unit }}">
                                        </div>

                                        <div class="input-group mb-3">
                                            <span class="input-group-text col-sm-2.5"><label>Change List</label></span>
                                            <select class="form-control" name="list_edit">
                                                {% for info in list_name %}
                                                <option name="list_edit" value="{{ info.shopping_id }}" >{{ info.list_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-secondary "
                                                    data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <button id="submit-edit-buy" type="submit" class="btn btn-primary">Save
                                                changes
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td class="empty" colspan="3"></td>
                    <td class="total_label" >*<b>Total Estimated Price</b></td>
                    <td class="total"><b>{{ shop_list.total_est_price }}</b></td>
                    <td class="empty" colspan="2" style="color:#4e555b;font-size:14px;">*based on all purchase histories</td>
                </tr>

                </tbody>
            </table>
        </div>
{#            </section>#}
    {% endfor %}

    </section>


{% endblock %}
